@import "tailwindcss";
@plugin "daisyui";

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sora {
  font-family: "Sora", sans-serif;
}

.poppins{
  font-family: "Poppins", sans-serif;
}

.img{
  width: 96px;
  height: 96px;
}